{include file='presentation/presentation_header.tpl'}

<BODY BGCOLOR="#FFFFFF">
<!--div id="theText" style="position:absolute; left:100px; top:5px; width:592px; height:300px; z-index:2"-->

<p align="center">
  <script language="javascript">
    document.writeln('<span class="Instruction">' + parent.{$jsName} + '</span>');
  </script>
</p>

</BODY>
</HTML>
