<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
  <TITLE>Training Advisor Portal</TITLE>
  <META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <link rel="stylesheet" href="../themes/{$uiTheme}/desktop.css" type="text/css">
  <!--link rel="stylesheet" href="../css/jt_DialogBox.css" type="text/css">
  <link rel="stylesheet" href="../css/jt_Veils.css" type="text/css"-->
  <SCRIPT LANGUAGE="javascript" type="text/javascript" src="../javascript/desktop.js"></script>
  <SCRIPT LANGUAGE="javascript" type="text/javascript" src="../javascript/portal.js"></script>
  <SCRIPT LANGUAGE="Javascript" type="text/javascript" src="../javascript/fade.js"></script>
  <SCRIPT LANGUAGE="Javascript" type="text/javascript" src="../javascript/desktop.js"></script>
</HEAD>
