<HTML>
<HEAD>
  <META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <Title>Question</Title>
  <link rel="stylesheet" href="../themes/{$uiTheme}/desktop.css" type="text/css">
  <SCRIPT LANGUAGE="Javascript" type="text/javascript" src="../javascript/desktop.js"></script>
</HEAD>
<BODY bgcolor="#FFFFFF">

<table align="center" valign="top" width="100%" cellspacing="10%">
  <tr>
    <td align="center">
	<script language="JavaScript">
  		document.writeln('<span class="Instruction">' + parent.strPurpose + '</span>');
	</script>
    </td>
  <tr>
</table>

</body>
</html>
