/* --- menu styles ---
note:
	not all browsers render styles the same way so try out your style sheet
	on different browsers before publishing;
*/
.class { }
/* level 0 inner */
.m0l0iout { font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-decoration: none; padding: 4px; background-image: url(http://www.goalexandria.com/ALEXimages/clear_bg.gif); text-align: center; }
.m0l0iover { font: bold 12px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; background-image: url(http://www.goalexandria.com/ALEXimages/clear_bg.gif); text-align: center; padding: 4px; }

/* level 0 outer */
.m0l0oout { font-weight: 700; background-image: url(http://www.goalexandria.com/ALEXimages/clear_bg.gif); background-repeat: repeat; background-attachment: scroll; background-position: 0 0; text-decoration : none; }
.m0l0oover { font-weight: 700; background-image: url(http://www.goalexandria.com/ALEXimages/clear_bg.gif); background-repeat: repeat; background-attachment: scroll; background-position: 0 0; text-decoration : none; }

/* level 1 inner */
.m0l1iout { font: 12px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; text-decoration: none; padding: 2px; color: #fff; text-align: left; }
.m0l1iover {
	font: 500 12px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding: 2px;
	color: #fff;
}

/* level 1 outer */
.m0l1oout { border : solid 1px #ffffff; background: #3d85b9; text-decoration: none; filter: alpha(opacity=85); }
.m0l1oover {
	text-decoration : none;
	border : solid 1px #ffffff;
	background: #3a2985;
}

/* level 2 inner */
.m0l2iover { font: 500 12px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif; text-decoration : none; color: #fff; padding: 2px; }

/* level 2 outer */
.m0l2oout { text-decoration : none; border : solid 1px #ffffff; background: #3d85b9; vertical-align: 2pt; }
.m0l2oover { color: #fff; font-weight: bold; text-decoration : none; border : solid 1px #ffffff; background: #3a2985; }
body { color: #333; font: 11px Verdana, Arial, Helvetica, sans-serif; background-color: #f4f4f4; margin-top: 0; margin-right: 5px; margin-left: 5px; padding: 0; times: serif  }
p { color: #333; font: 11px Verdana, Arial, Helvetica, sans-serif; margin-top: 0; margin-right: 5px; margin-left: 5px; padding: 0; times: serif   }
h1 { color: #6fa241; font-weight: 700; font-size: 22px; font-family: helvetica, sans-serif; margin: 0; padding: 0     }
.bigbody { color: #6fa241; font-weight: 600; font-size: 16px; font-family: helvetica, sans-serif; margin: 0; padding: 0       }
h2   { color: #333; font-size: 12px; font-family: helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; margin: 0 2px 3px; padding: 2px 4px 1px 1px     }
.submenuheader { color: #3a2985; font: bold 12px/14px Verdana, Arial, Helvetica, sans-serif; text-align: center; margin: 0 0 3px; padding: 2px  }
h3 { color: #6fa241; font-size: 14px; font-family: helvetica, sans-serif; font-weight: bold; font-style: normal; font-variant: normal; margin: 0 0 5px; padding: 0   }
h4  { color: #333; font-size: 35px; font-family: helvetica, sans-serif; font-weight: bold; font-style: normal; font-variant: normal; margin: 0 0 8px; padding: 2px   }
h5    { color: #fff; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; font-style: normal; font-variant: normal; line-height: normal; background-image: none; background-repeat: no-repeat; background-attachment: inherit; margin: 2px 0 0 4px; }
.whitehuge { color: #fff; font-size: 18px; font-family: helvetica, sans-serif; font-weight: bold; }
.whiteregular { color: #fff; font-size: 12px; font-family: helvetica, sans-serif; }
h6    { color: #333; font-size: 10px; font-family: helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; margin: 0 0 3px; padding: 4px   }
img { margin: 0 }
.left { float: left; margin: 0 20px 0 0; border: 0 }
.right { float: right; margin: 0 0 0 20px; border: 0 }
p ul { color: #333; font-size: 12px; font-family: helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; margin: 0 0 10px; padding: 0  }
li { color: #333; font-size: 12px; font-family: helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; margin: 0 0 10px; padding: 0  }
.hr { color: #a3a968; border-bottom: medium none }
.Content>p { margin: 0px }
.Content>p+p { text-indent: 30px }
.logo { color: #5b5b5b; font-size: 32px; font-family: helvetica, sans-serif; font-weight: bold; text-decoration: none; }
.indexbody { color: #6fa241; font-size: 16px; font-family: sans-serif; font-weight: 500; }
a:link { color: #3c8000; font-family: helvetica, sans-serif; text-decoration: none     }
a:visited { color: #6fa241; font-family: helvetica, sans-serif; text-decoration: none; }
a:hover { color: #8ad645; font-family: helvetica, sans-serif; text-decoration: none; }
.table   { border-style: solid; border-width: 0pt 1pt 1pt 1pt; border-color: #3a2985 #3d85b9 #3a2985 #3d85b9 }
.tr { border-color: #3a2985 #3d85b9; border-style: solid; border-width: 1pt; }
.td  { border-right: 1pt solid #3d85b9; border-bottom: 1pt solid #3a2985; border-left: 1pt solid #3d85b9 }
table { border-right: 1pt none silver; border-bottom: 1pt none gray; border-left: 1pt none silver }
.indextable { background-color: #e6e6e6; background-image: url(../images/body_gradient1.gif); background-repeat: repeat-x; border: solid 1px #8ec640; }
.indextablecolumn { background-color: #fff; background-image: url(../images/column_gradient1.gif); background-repeat: repeat-x; }
tr { border-right: 1pt none silver; border-bottom: 1pt none gray; border-left: 1pt none silver }
td { border-right: 1pt none silver; border-bottom: 1pt none gray; border-left: 1pt none silver }
.content { background-color: white; margin: 0px 210px 20px 170px; padding: 10px; border: solid 1px 
black; z-index: 3; width: auto; min-width: 120px }
.contentwhite { color: #fff; font: 12px/normal verdana, arial, helvetica, sans-serif; text-align: center; margin: 0px; padding: 4px; border-bottom: 1px double #3a2985 }
contentwhite { color: #fff; font: 12px/normal verdana, arial, helvetica, sans-serif; text-align: center; margin: 0px; padding: 4px; border-bottom: 1px double #3a2985 }
.header { border: 0px; position: relative; top: -10px; left: 0px; height: 140px }
#navAlpha { background-color: #eee; padding: 10px; border: dashed 1px black; position: absolute; z-index: 2; top: 160px; left: 20px; width: 128px; voice-family: "\"}\""inherit }
{ }
body>#navAlpha { width: 128px }
#navBeta { background-color: #d4e5ed; padding: 5px; position: absolute; z-index: 1; top: 150px; right: 20px; width: 150px; voice-family: "\"}\""inherit }
{ }
body>#navBeta { width: 168px }
#layer1 { position: absolute; top: 16px; left: 331px; width: 300px; height: 50px; visibility: visible; display: block }
#search      { position: absolute; top: 77px; left: 329px; width: 247px; height: 37px; visibility: visible; display: block }
#layer2 { position: absolute; top: 10px; left: 15px; width: 297px; height: 67px; visibility: visible; display: block }
#layer6  { position: absolute; top: 163px; left: 94px; width: 384px; height: 22px; visibility: visible; display: block }
.tinycrumbs { color: #333; font-size: 7pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: 300; }
.bgcolor { background-color: #f4f4f4; }
.mediumbrown { color: #6fa241; font-size: 20px; font-family: helvetica, sans-serif; font-weight: bold; }
.columnheadersunbold { color: #6fa241; font-size: 20px; font-family: helvetica, sans-serif; }
.boldgreen { color: #91ca5d; font-size: 14px; font-family: helvetica, sans-serif; font-weight: bold; }
.textfield_effect    {
    /*we will first set the border styles.*/
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    /*we are now going to add in the shadow image that we created earlier*/
    background-image: url(../images/back_field.gif);
    background-repeat: repeat-x;
    /*I am going to add some <strong class="highlight">text</strong> formatting of my own*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    width: 200px;
    height: 15px;
    }
 
/*we are now going to style how the textfield will look when we
hover over it and when we actually have it selected*/
 
.textfield_effect:hover    {
    border-color: #64acd8;
    border-width: 1px;
    }
 
.textfield_effect:focus    {
    border-color: #64acd8;
    border-width: 1px;
    }