<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
  <TITLE>Customization Edit</title>
  <META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <link rel='stylesheet' href='../themes/{$uiTheme}/desktop.css' type='text/css'>
  <script language='javascript' type='text/javascript' src='../javascript/desktop.js'></script>
  <script language='javascript' type='text/javascript' src='../javascript/admin.js'></script>
</HEAD>
<BODY bgcolor="#FFFCED" onLoad="MM_preloadImages('../themes/{$uiTheme}/admin/btn_update_up.gif','../themes/{$uiTheme}/admin/btn_update_down.gif')">

<div id="UpdateDiv" style="position:absolute; left:589px; top:9px; width:67px; height:25px; z-index:1"><a href="javascript:Update('');" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Update','','../themes/{$uiTheme}/admin/btn_update_down.gif',1)"><img name="Update" border="0" src="../themes/{$uiTheme}/admin/btn_update_up.gif" width="56" height="22"></a>
</div>

<div id="Break" style="position:absolute; left:11px; top:29px; width:99%; height:18px; z-index:4"><hr></div>
<form name="AdminForm" method="post" action="">
  <div id="Page1" style="position:absolute; left:17px; top:60px; width:700px; height:106px; z-index:5">
    <table border="0">
    <tr>
        <td class="OrgInfoText">Question Thank You Message: &nbsp;&nbsp;</td>
        <td colspan="5">
          <input class="FormValue" type="text" name="confirmCapThanks" maxlength="45" size="60" value="{$confirmCapThanks}"
                 onchange="javascript:SetFlag();">
        </td>
	</tr>
  </table>
  </div>
</form>
<!--div id="Cover" class="WaitText"
     style="position:absolute; left:11px; top:7px; width:716px; height:341px; z-index:25; background-color:
            #FFFBAF; layer-background-color: #FFFBAF; border: 1px solid #000000; visibility: hidden">
<br><br><br><br>
<table width="100%">
<tr><td align="center" valign="middle" class="WaitText">Please Wait...</td><tr>
<tr><td align="center" valign="middle" class="WaitText">Creating a new Organization Database.</td><tr>
<tr><td align="center" valign="middle" class="WaitText">This may take several minutes.</td><tr>
</table>
</div-->
</body>
</html>
