<BODY bgcolor="#FFFCED"
      onLoad="MM_preloadImages('../themes/{$uiTheme}/admin/btn_update_up.gif','../themes/{$uiTheme}/admin/btn_update_down.gif','../themes/{$uiTheme}/admin/btn_back_down.gif');">

<table border="0" width="700" align="top" cellpadding="2" cellspacing="3">
  <tr>
    <td width="23">
      <a href="faq_list.php" onClick="return CheckSave();"
	 onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Back','','../themes/{$uiTheme}/admin/btn_back_down.gif',1)">
        <img name="Back" border="0" src="../themes/{$uiTheme}/admin/btn_back_up.gif" width="23" height="21"></a>
    </td>
    <td align="left">
      <a class="OrgInfoText" href="faq_list.php">Return to FAQ List</a>
    </td>
    <td align="right">
      {if $faq->faqId == 0}
	<a href="javascript:FaqSubmit();" onMouseOut="MM_swapImgRestore()"
	   onMouseOver="MM_swapImage('AddBtn','','../themes/{$uiTheme}/admin/btn_add_down.gif',1)">
	<!--onClick="document.getElementById('Cover').style.visibility='visible';-->
	  <img name="AddBtn" border="0" src="../themes/{$uiTheme}/admin/btn_add_up.gif" width="56" height="22"></a>
      {else}
	<a href="javascript:FaqSubmit();" onMouseOut="MM_swapImgRestore()"
	   onMouseOver="MM_swapImage('Update','','../themes/{$uiTheme}/admin/btn_update_down.gif',1)">
	  <img name="Update" border="0" src="../themes/{$uiTheme}/admin/btn_update_up.gif" width="56" height="22"></a>
      {/if}
    </td>
  </tr>
  {if isset($errMsg) && $errMsg}
  <tr>
    <td colspan="3" class="error">
      {$errMsg}
    </td>
  </tr>
  {/if}
</table>
<hr align="left" width="700">
