{include file='admin/admin_header.tpl'}

<BODY class="ContentFrameBody"
      onLoad="MM_preloadImages('../themes/{$uiTheme}/admin/btn_update_up.gif','../themes/{$uiTheme}/admin/btn_update_down.gif','../themes/{$uiTheme}/admin/btn_back_down.gif');">

<iframe align="left" width="25%" height="99%" src="file_man_nav.php" frameborder="0" scrolling="auto" name="file_man_nav">
</iframe>

<iframe align="right" width="75%" height="99%" src="file_man_edit.php?path=%2F" frameborder="0" scrolling="auto" name="file_man_edit">
</iframe>


</BODY>
</HTML>
