<div id="SequenceMenu" style="visibility:hidden; position:absolute; left:0px; top:0px; z-index:-1">
<form method="GET" id="sequence_form" onSubmit="return DoChangeSequence(true)">
<table class="table_popup" border="0" cellpadding="2" cellspacing="0">
  <tr height="32" valign="middle">
    <td width="25" align="center" valign="middle">
      <table border="0" cellpadding="0" cellspacing="0" width="15">
        <tr height="12">
          <td valign="top">
            <a href="javascript:ScrollSequence(true, true, 1, {$maxSequenceId});">
              <img border="0" src="../themes/{$uiTheme}/admin/arrow_up.gif"></a>
          </td>
        </tr>
        <tr height="12">
          <td valign="bottom">
            <a href="javascript:ScrollSequence(false, true, 1, {$maxSequenceId});">
              <img border="0" src="../themes/{$uiTheme}/admin/arrow_down.gif"></a>
          </td>
        </tr>
      </table>
    </td>
    <td valign="middle" align="center">
      <input type="text" name="number" size="7" value="0" style="text-align:right">
      &nbsp;&nbsp;<a href="javascript:DoChangeSequence(false);" onMouseOut="MM_swapImgRestore()"
		     onMouseOver="MM_swapImage('GoSearch','','../themes/{$uiTheme}/admin/btn_go_down.gif',1);">
		  <img name="GoSearch" border="0" align="absbottom" width="25" height="22" src="../themes/{$uiTheme}/admin/btn_go_up.gif"></a>
    </td>
    <td width="5"></td>
  </tr>
</table>
</form>
</div>


