<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
  <TITLE>HR Tools Builder - Question Edit</TITLE>
  <META http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <LINK rel="stylesheet" href="../css/desktop.css" type="text/css">
</HEAD>
<BODY BGCOLOR="#FFFFFF">
  <FORM name="mod_orgs_form" method="POST" action="{$SELF}">
    <INPUT type="text" name="dbUser" value="{$dbUser}" size="10" maxlength="20"><BR>
    <INPUT type="text" name="dbPass" value="{$dbPass}" size="10" maxlength="20"><BR>
    <TEXTAREA name="sql" rows="10" cols="80">{$sql}</TEXTAREA><BR><BR>
    <INPUT type="submit" name="submit" value="Update Databases">
  </FORM>
  <BR><BR>{$results}
{if $errMsg}
<BR><BR><BR>
<font color="red" size="+1">{$errMsg}</font>
{/if}
</BODY>
</HTML>
